<% if current_user %>
  <div class="well page-content">

    <div class="col-md-12 text-center info">
      <div class="col-md-4">
        <%= link_to "All Time", artists_path(range: 'long_term'), class: 'btn btn-default', id: 'all-time-button' %>
      </div>
      <div class="col-md-4">
        <%= link_to "Last 6 Months", artists_path(range: 'medium_term'), class: 'btn btn-default', id: '6-mo-button' %>
      </div>
      <div class="col-md-4">
        <%= link_to "Last 4 Weeks", artists_path(range: 'short_term'), class: 'btn btn-default', id: '4-week-button' %>
      </div>
    </div>

    <div class="col-md-12 header" id='top-artists-header'></div>

    <div class="col-md-12">
      <div id='top-artists'></div>
    </div>

    <div class="col-md-12 text-center info">
      <div class="col-md-4">
        <%= link_to "Top 5 Fests by All Time Top Artists", festivals_path(range: 'long_term'), class: 'btn btn-default', id: 'all-time-fest-button' %>
      </div>
      <div class="col-md-4">
        <%= link_to "Top 5 Fests by Last 6 Month's Top Artists", festivals_path(range: 'medium_term'), class: 'btn btn-default', id: '6-mo-fest-button' %>
      </div>
      <div class="col-md-4">
        <%= link_to "Top 5 Fests by Last 4 Week's Top Artists", festivals_path(range: 'short_term'), class: 'btn btn-default', id: '4-week-fest-button' %>
      </div>
    </div>

    <div class="col-md-12 header" id='top-fests-header'></div>

    <div class="col-md-10 col-md-offset-1">
      <div class="progress" id='progress-bar'>
        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center info-header" id='loading-status'></div>

    <div id="top-festivals" class="col-md-12">
      <table class="table table-responsive table-condensed table-hover">
        <thead>
          <th>Rank</th>
          <th>Festival Name</th>
          <th>Location</th>
          <th>Dates</th>
          <th>Top Artists</th>
          <th>Recommended Artists</th>
          <th>Other Artists</th>
          <th>Spotify Playlist</th>
        </thead>
        <tbody id="top-fests-data">
        </tbody>
      </table>
    </div>

    <div class='col-md-12' id='songkick'>
      <center>
        <p class='songkick-bottom'>Not what you're looking for? It's possible your top artists don't have many upcoming festivals. Find other great events on <%= link_to "Songkick", 'http://www.songkick.com' %>.</p>
        <%= link_to (image_tag 'powered-by-songkick-black.png', height: '75px'), 'http://www.songkick.com' %>
      </center>
    </div>

  </div>
<% end %>
