<table class='table table-striped table-responsive'>
  <thead>
    <th>Rank</th>
    <th>Festival Name</th>
    <th>Location</th>
    <th># Top Artists</th>
    <th># Recommended Artists</th>
  </thead>
  <tbody>
    <% @festivals.each_with_index do |festival, index| %>
      <tr>
        <td class='text-center'><%= index + 1 %></td>
        <td><%= link_to festival.name, festival.url %></td>
        <td><%= festival.location %></td>
        <td><%= festival.top_artists.length %></td>
        <td><%= festival.rec_artists.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>
