<div class="well page-content">
  <% if @festivals.empty? %>
    <center>None of your top artists are playing festivals. Try finding some festivals directly on <%= link_to "Songkick", 'http://www.songkick.com' %>.</center>
  <% else %>
    <center><%= link_to (image_tag 'powered-by-songkick-black.png', height: '75px'), 'http://www.songkick.com' %></center>
    <table class='table table-striped table-responsive'>
      <thead>
        <th>Rank</th>
        <th>Festival Name</th>
        <th>Location</th>
        <th>Top Artists</th>
        <th>Recommended Artists</th>
        <th>Other Artists</th>
      </thead>
      <tbody>
        <% @festivals.each_with_index do |festival, index| %>
          <tr id="fest-<%= index + 1 %>">
            <td class='text-center artist'><%= index + 1 %></td>
            <td class='artist'><%= link_to festival.name, festival.url, target: '_blank' %></td>
            <td class='artist'><%= festival.location %></td>
            <td class='artist'>
              <% festival.top_artists.each do |artist| %>
                <%= artist.name %><br />
              <% end %>
            </td>
            <td class='artist'>
              <% if festival.rec_artists.empty? %>
                N/A
              <% else %>
                <% festival.rec_artists.each do |artist| %>
                  <%= artist.name %><br />
                <% end %>
              <% end %>
            </td>
            <td class='artist'>
              <%= festival.other_artists_count %>+
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
